
/**
    Name:           Bridge_GetWire_ByPinNumber
    Author:         Christian Arcuri
    Written:        6/15/2023
    Purpose:        Gets a Wire to be copied to SQL Main, 
                    based on the legacy SP [BridgeGetWiresToProc_FxRedesign]

    Edit History:   6/15/2023 - Christian Arcuri
                        + Initial creation.
					10/02/2023 - Christian Arcuri
                        + adding WiresPurposes table and WirePurposeId column
					10/30/2023 - Christian Arcuri
                        + adding PartnerAgencyCode column
**/

CREATE PROCEDURE [dbo].[Bridge_GetWire_ByPinNumber]
	@PinNumber varchar(20)
AS
BEGIN
  set nocount on;
    SELECT 
           W.WireId
		  ,W.LSenderId, W.LReceiverId, W.AgSenderId, W.AgSenderCode, W.AgSenderSeq, W.AgSenderState, W.AgSenderCity, W.AgSenderCountry
		  ,W.AgPayerId, W.AgPayerCode, W.DestCountry, W.DestState, W.DestCity, W.BranchId, W.SenderId, W.OnBehalfId, W.ReceiverId
		  ,W.SenderName, W.OnBehalfName, W.ReceiverName, W.PinNumber, W.WireDate, W.WireDatetime, W.OriAmount, W.OriCurrency
		  ,W.Charges, W.OtherChg, W.AgencyFee, W.OriToDestExRate, W.WireStateFee, W.WireTotalAmount, W.DestAmount, W.DestCurrency
		  ,W.AgSenderCommission, W.TranTypeID, W.AccountNumber, W.DeptBankName, W.AccountType, W.DeptAdditionalInfo, W.BankBranchCode
		  ,W.DeliveryType, W.SourceApp, W.StsComplianceOk, W.StsCancel, W.CustTrasactionID, W.RateTypeID, W.FeePlanID, W.FxPlanID
		  ,W.AgCommiPlanID, W.FXDif, W.FXShare_id, W.ExRateMacro, W.WirePurpose, W.FundSource, W.Occupation, W.IncomingPhoneNumber
		  ,W.CallerIDVerif, W.TeledirectWire, W.NoFaxBackWire, W.ReplacedControl, W.WaivedCharges, W.ReplaceWireRcvSel, W.CustMessage
		  ,W.WireReplacementType, W.ReplacementReasonID, W.MemberCardSwiped, W.SndDOB, W.CreatedBy, W.ComputerName, W.PayerPayMethodId
		  ,W.SndRcvRelationship, W.NewTelewire, W.FxPointsAdded, W.FXChangeCost, W.FXCostApplyTo, W.FeeChange, W.CostToAgent, W.CostToCustomer
		  ,W.FlexPrcOptionSelected
		  ,S.SenderGroupId, S.SndFirstName, S.SndLast1, S.SndLast2, S.SndAddress, S.SndCountry, S.SndState, S.SndCity, S.SndZip
		  ,S.SndPhone, S.SndLastVersionId, S.SndNoSecLastName
 		  ,ISNULL(S.SndIdTypeName,'') AS SndIdTypeName , ISNULL(S.SndIdNumber,'') AS SndIdNumber , ISNULL(S.SndIdCountry,'') AS SndIdCountry
 		  ,ISNULL(S.SndIdState,'') AS SndIdState, SndIdExpirationDate 
 		  ,R.ReceiverGroupId, R.RcvFirstName, R.RcvLast1, R.RcvLast2, R.RcvAddress, R.RcvCountry, R.RcvState, R.RcvCity, R.RcvZip
		  ,R.RcvPhone, R.RcvNoSecLastName, R.RcvLastVersionID, R.CPF, W.PossibleFraud, W.WireAvailableDate
		  ,S.SndEmail, S.IsCellPhone, DiscountAmount, PromoCostToCompany, PromoCostToAgent, PromoCostToPayer, CRMPromotionID AS PromotionId, SenderPromoUniqueKey
          ,WirePoints, WirePointsSign, WiresAlreadyCountGUID, W.LoyaltyCardNumber, OptStatus, OptStatusDate ,S.OptStatusPromo
          ,W.SenderPaymentMethodId, W.WireReadyToChargeSender, W.WebAgentUserId, W.UserPaymentMethodInfoId, W.WireIPAddress
          ,W.WireFromState, W.IPDetectedState, W.WebAgentTransationId, W.StsSenderPaymentOk 
          ,CollectionType,StsFraudCheckOk,CancelReasonId,
		  ISNULL(FraudCheckTransacId,'') AS FraudCheckTransacId,ISNULL(FraudCheckDecision,'') AS FraudCheckDecision,
		  ISNULL(FraudCheckDecisionReason,'') AS FraudCheckDecisionReason,ISNULL(FraudCheckScore,0) AS FraudCheckScore,FraudCheckDate ,
		  w.StsUserKBAOk,w.StsCreditOK, ISNULL(DeviceFingerprint,'') AS DeviceFingerprint, SndEmployerName, SndEmployerPhone, SenderIdRecId,
		  w.AgencyExtraFee, w.WireSenderPaymentMethodFee, w.CashBackAmount, w.TransacTotalAmount,
--          CR.CardType, CR.LastCardDigits, CR.NameOnCard, CR.PnRef, CR.AuthCode,	CR.ResultCode as TransactionErrorCode, CR.ErrorMsg,
		  CAST((CASE W.CardDirectProvider WHEN 1 THEN CR.CardType WHEN 2 THEN CENPos.CardType ELSE NULL END) AS VARCHAR(50)) AS CardType, 
		  CAST((CASE W.CardDirectProvider WHEN 1 THEN CR.LastCardDigits WHEN 2 THEN SUBSTRING(CENPos.CardNumber, 1, 20) ELSE NULL END) AS VARCHAR(20)) AS LastCardDigits,
		  CAST((CASE W.CardDirectProvider WHEN 1 THEN CR.NameOnCard WHEN 2 THEN CENPos.NameOnCard ELSE NULL END) AS VARCHAR(50)) AS NameOnCard, 
		  CAST((CASE W.CardDirectProvider WHEN 1 THEN CR.PnRef WHEN 2 THEN CENPos.ReferenceNumber ELSE NULL END) AS VARCHAR(100)) AS PnRef, 
		  CAST((CASE W.CardDirectProvider WHEN 1 THEN CR.AuthCode WHEN 2 THEN CENPos.AuthCode ELSE NULL END) AS VARCHAR(100)) AS AuthCode, 
		  CAST((CASE W.CardDirectProvider WHEN 1 THEN CR.ResultCode WHEN 2 THEN CENPos.ResponseResult ELSE NULL END) AS VARCHAR(10)) AS TransactionErrorCode, 
		  CAST((CASE W.CardDirectProvider WHEN 1 THEN CR.ErrorMsg WHEN 2 THEN CENPos.ResponseMessage ELSE NULL END) AS VARCHAR(MAX)) AS ErrorMsg,
		  ISNULL(ChannelId,0) AS ChannelId, ISNULL(PartnerId,0) AS PartnerId,
		  ISNULL(W.AgPayerRcvIdTypeRecordId,0) AS AgPayerRcvIdTypeRecordId, ISNULL(W.RcvIdNumber,'') AS RcvIdNumber, W.CardDirectProvider,
		  ISNULL(w.F1025AgentFullName,'') AS F1025AgentFullName,
		  AgencyPricingId,AgencyPricingDetailId,FxBaseId,FXPromotionId,FxBase,AgencyFXPointsFromBase,AgencyPromoFXPoints,FXBasePromotionId,FxBasePromotion,
		  ISNULL(W.StyleId,0) AS StyleId, R.RcvDOB, S.Citizenship, ISNULL(WP.WirePurposeId, 0) as WirePurposeId, ISNULL(W.PartnerAgencyCode, '') as PartnerAgencyCode
      FROM Wires AS W WITH(NOLOCK) 
           INNER JOIN ProcessedWires AS P  WITH(NOLOCK) ON (W.WireId = P.WireId)
           INNER JOIN Senders AS S  WITH(NOLOCK) ON (W.LSenderId = S.LSenderId)
           INNER JOIN Receivers AS R WITH(NOLOCK) ON (W.LReceiverId = R.LReceiverId)
           LEFT OUTER JOIN CardChargeResult CR ON CR.WireId = W.WireId 
		                                      AND CR.CardChargeId = (SELECT MAX(T02.CardChargeId)
		                                                             FROM CardChargeResult T02 
																	 WHERE T02.WireId = W.WireId)
           LEFT OUTER JOIN ViewCENPosCardResult CENPos ON CENPos.WireId = W.WireId
		                                             AND CENPos.ResultId = (SELECT MAX(T03.ResultId) 
					                                                       FROM ViewCENPosCardResult T03 
											                               WHERE T03.WireId = CENPos.WireId)																	   
		   LEFT OUTER JOIN WebAgent_WireFraudCheck AS f ON W.WireId = F.WireId
		   LEFT OUTER JOIN WiresPurposes as WP with(nolock) on (W.WireId = WP.WireId)
       WHERE W.PinNumber=@PinNumber
           AND NOT EXISTS(SELECT * FROM dbo.WirePossibleFraud T01 WITH(NOLOCK) WHERE T01.WireId = W.WireId AND (Ok IS NULL OR Ok = 0))
      ORDER BY W.WireId
      OPTION( USE HINT('FORCE_LEGACY_CARDINALITY_ESTIMATION'))

END