CREATE PROCEDURE [dbo].[WebAgent_GetConfirmationpageMessageToShow_ByPartner]
@PartnerId int,
@ComplianceOk bit,
@StsFraudCheckOk bit,
@StsUserKBAOk bit,
@StsCreditOK int, --New
@AvailabilityDate datetime,
@CurrentWebLanguageId int,
@TranTypeId int,
@MsgToShow varchar(max) OUTPUT
AS
BEGIN

  DECLARE @CustomerServicePhoneLine varchar(20),
          @CompliancePhoneLine varchar(20),
		  @FraudPhoneLine varchar(20)


  SELECT @CustomerServicePhoneLine = PhoneNumber 
    FROM WireSearch.dbo.WebAgent_PartnerPhoneLines
   WHERE PartnerId = @PartnerId
     AND Departmentname = 'CUSTOMER SERVICE'
  IF @CustomerServicePhoneLine IS NULL
     SET @CustomerServicePhoneLine  = '1-800-670-8611'

  SELECT @CompliancePhoneLine = PhoneNumber 
    FROM WireSearch.dbo.WebAgent_PartnerPhoneLines
   WHERE PartnerId = @PartnerId
     AND Departmentname = 'COMPLIANCE'
  IF @CompliancePhoneLine IS NULL
     SET @CompliancePhoneLine = '1-800-792-8017'

  SELECT @FraudPhoneLine = PhoneNumber 
    FROM WireSearch.dbo.WebAgent_PartnerPhoneLines
   WHERE PartnerId = @PartnerId
     AND Departmentname = 'FRAUD'
  IF @FraudPhoneLine IS NULL
     SET @FraudPhoneLine = '1-866-999-3175'


  IF (@StsUserKBAOk = 0 OR @StsCreditOK = 0) --Retenido x Lexis Nexis o Limite de Credito Llamar a Departamento de FLP
     BEGIN
	   IF @CurrentWebLanguageId = 1
	        SET @MsgToShow = 'Transaction has been successfully completed' --Cambio de mensaje solicitado en ITSD-333730 --anterior: Your transaction was processed successfully. However, we need additional information before completing your wire transfer. Please contact us by calling '+rtrim(@FraudPhoneLine) --1-866-999-3175' --Obtenerlo configurable
	   ELSE SET @MsgToShow = 'Su transacción fue completada correctamente' --Cambio de mensaje solicitado en ITSD-333730 --anterior: Tu transacción ha sido procesada exitosamente, sin embargo, se necesita información adicional. Por favor, comunícate con nosotros al '+rtrim(@FraudPhoneLine) --Obtenerlo configurable
	   RETURN
	 END
  
  IF @ComplianceOk = 0 -- Retenido x Compliance 
     BEGIN
	   IF @CurrentWebLanguageId = 1
	             SET @MsgToShow = 'Transaction successful. We are processing your information and will notify you when the funds are available for pick-up. For questions contact '+rtrim(@CompliancePhoneLine) --1-800-792-8017' --Obtenerlo configurable
	        ELSE SET @MsgToShow = 'Transacción exitosa, Estamos procesando tu información y te notificaremos en cuanto esté disponible para el cobro. Para preguntas, por favor contáctanos al '+rtrim(@CompliancePhoneLine) --Obtenerlo configurable
            RETURN
	 END

	IF @StsFraudCheckOk = 0 --Retenido o Cybersource
	BEGIN
	   IF @CurrentWebLanguageId = 1
	             SET @MsgToShow = 'Transaction successful. We are processing your information and will notify you when the funds are available for pick-up. For questions contact '+rtrim(@FraudPhoneLine) --Obtenerlo configurable
	        ELSE SET @MsgToShow = 'Transacción exitosa. Estamos procesando tu información y te notificaremos en cuanto esté disponible para el cobro. Para preguntas, por favor contáctanos al '+rtrim(@FraudPhoneLine) --Obtenerlo configurable
            RETURN
	 END

   --Esta todo OK
  IF @AvailabilityDate = dbo.DateOnly(getdate())
     BEGIN
	   IF @CurrentWebLanguageId = 1
	      BEGIN
	        SET @MsgToShow = 'Your transaction was processed Successfully and  '
			IF @TranTypeId = 1
			     BEGIN
			       if  datepart(hh,getdate()) >= 9 --9:00 AM
				        SET @MsgToShow = rtrim(@MsgToShow)+' will be available for pick up in 20 minutes'
				   else SET @MsgToShow = rtrim(@MsgToShow)+' will be available for pick up Today'
				 END
			ELSE SET @MsgToShow = rtrim(@MsgToShow)+' funds will be available Today'
		  END
	   ELSE BEGIN
				SET @MsgToShow = 'Tu transacción ha sido procesada exitosamente y  '
				IF @TranTypeId = 1
				     BEGIN
					   if  datepart(hh,getdate()) >= 9 --9:00 AM
					        SET @MsgToShow = rtrim(@MsgToShow)+' estará disponible para recogerla en 20 minutos'
					   else SET @MsgToShow = rtrim(@MsgToShow)+' estará disponible para recogerla el dia de hoy'
					 END
				ELSE SET @MsgToShow = rtrim(@MsgToShow)+' los fondos estarán disponibles el dia de hoy'
	       END	    
	   RETURN
	 END
  ELSE BEGIN

       DECLARE @StrAvailabilityDate varchar(40)
	   SET @StrAvailabilityDate  = dbo.WebAgent_GetAvailabilityDateToShow(@AvailabilityDate,@CurrentWebLanguageId)
         IF @CurrentWebLanguageId = 1
	        BEGIN
		    	SET @MsgToShow = 'Your transaction was processed successfully and '
				IF @TranTypeId = 1
			         SET @MsgToShow = rtrim(@MsgToShow)+' will be available for pick on '+@StrAvailabilityDate
			    ELSE SET @MsgToShow = rtrim(@MsgToShow)+' the funds will be availabe on '+@StrAvailabilityDate
			END
	   ELSE BEGIn
	           SET @MsgToShow = 'Tu transacción ha sido procesada exitosamente y '
			   if @TranTypeId = 1
			        SET @MsgToShow = rtrim(@MsgToShow)+ ' estará disponible para recogerla el '+@StrAvailabilityDate
			   ELSE SET @MsgToShow = rtrim(@MsgToShow)+ ' los fondos estarán dispoibles el '+@StrAvailabilityDate
			END

       END
END